extends layout

block content
    div(id='main' style='letter-spacing: 4px;')
        ul(class='problems-list')
            li
                a(href='/brackets') Brackets Problem
                a(href='/dwarfsrafting') Dwarfs Rafting
                    

block scripts
  script(type='text/javascript' src='/javascripts/IL.js')