extends layout

block content
    div(id='main' style='letter-spacing: 4px;')
        ul(class='problems-list') Codility problems
            li
                a(href='/brackets') Brackets Problem
            li
                a(href='/dwarfsrafting') Dwarfs Rafting
            li
                a(href='/flooddepth') Flood Depth
                    

block scripts
  script(type='text/javascript' src='/javascripts/IL.js')