extends layout

block content
    div(id='brackets-main')
        a(href='/') Go Back
        p 
            | Find the point where the string can be divided in two string contaning the same number of brackets of one type, that is:
            | the left side will have the same number of '(' than the right side will have from ')'
        div(id='brackets-solution' style='letter-spacing: 4px; margin: 10px;')
                    

block scripts
    script(type='text/javascript' src='/javascripts/brackets.js')